html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
.Ark {
  font-size: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Creature {
  width: 28%;
}
#One {
  border: 2px solid black;
  flex-grow: 2;
  height: 200px;
}
#Two {
  border: 2px solid black;
  flex-grow: 2;
  height: 200px;
}
#Three {
  border: 2px solid black;
  flex-grow: 2;
  height: 200px;
}
