html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Permanent Marker", cursive;
}
.Gallery {
  font-size: 8vw;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  padding: 25;
}
.Gallery:hover {
  background-color: black;
}
.Group-card {
  box-shadow: 1rem 1rem 1rem black;
  width: 29%;
  margin: 25;
  background-color: #800000;
  animation-name: SlideFromLeft;
  animation-duration: 5s;
  transition: margin-right 1s ease-in-out;
  transition-duration: 2s;
}
.Group-card:hover {
  transform: scale(1.1);
}
.Group-card:active {
  width: 100%;
}
.Creature-card {
  margin-top: 3rem;
  align-content: center;
  color: #380000;
}
.Creature-card:hover {
  color: black;
}
.Card-img {
  margin-bottom: 4rem;
  width: 29vw;
}
h1 {
  font-size: 8vw;
  text-align: center;
  background-color: black;
  color: #800000;
  animation-name: SlideFromRight;
  animation-duration: 5s;
  transition: margin-left 1s ease-in-out;
  transition-duration: 2s;
}
h1:hover {
  text-shadow: 0.4rem 0.4rem 0.4rem #380000;
  background-color: #800000;
  color: #380000;
}
@keyframes SlideFromRight {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
@keyframes SlideFromLeft {
  from {
    margin-right: 100%;
    width: 300%;
  }
  to {
    margin-right: 0%;
    width: 100%;
  }
}
@media screen and (max-width: 150rem) {
  .Card-img {
    width: 30vw;
  }
  .Group-card {
    width: 30%;
    font-size: 7vw;
  }
}
@media screen and (max-width: 1200px) {
  .Card-img {
    width: 80vw;
  }
  .Group-card {
    width: 90%;
  }
}
@media screen and (max-width: 768px) {
  .Card-img {
    width: 50vw;
  }
  .Group-card {
    width: 90%;
  }
}
