html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Permanent Marker", cursive;
}
html {
  background-color: #800000;
}
.Gallery {
  font-size: 8vw;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  padding: 25;
}
.Group-card {
  box-shadow: 1rem 1rem 1rem black;
  width: 26%;
  margin: 25;
  background-color: #800000;
}
.Creature-card {
  margin-top: 3rem;
  align-content: center;
}
.Card-img {
  margin-bottom: 4rem;
  width: 24vw;
}
h1 {
  font-size: 8vw;
  text-align: center;
}
